  <p>The value of a input is: </p>
  <%= text_field_tag 'a_value', '', class: "form-control"%>
  <br></br>

  <p>The value of b input is: </p>
  <%= text_field_tag 'b_value', '', class: "form-control"%>
  <br></br>

  <p>The value of c input is: </p>
  <%= text_field_tag 'c_value', '', class: "form-control"%>
  <br></br>