<%= content_tag :div, '', id: "charts_placeholder", data: {parabolas: @total_pairs} %>
<%= content_tag :div, '', id: "chart_all" %>
<%- @total_pairs.each_with_index do |pair, index| %>
  <%= content_tag :div, '', id: "chart_#{index}" %>
  <br>
  <br>
  <div id="answer">
    <%= @status[index] %>
  </div>
  <br>
  <br>
  <hr>
  <br>
  <br>    
<% end %>




