<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<link href= <%= Rails.root.join("vendor", "assets", "javascripts", "c3.css")%> rel="stylesheet" type="text/css">
<script src= <%= Rails.root.join("vendor", "assets", "javascripts", "c3.min.js") %> > </script>

<div id="chart"></div>